# libsurvive calibration files
config.json
HMD_config.json
WM0_config.json
WM1_config.json
calinfo/

# benchmarking files
flamegraph.svg
perf.data
perf.data.old
benchmarks/

target/
**/*.rs.bk
**/*LOCAL*
